@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.button-wrapper {
  position: relative;
  display: inline-block;
}

.button-shadow {
  position: absolute;
  z-index: 0;
  /* Behind the button */
}

.button-content {
  position: relative;
  z-index: 1;
  /* Above the shadow */
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: transform 200ms ease;
}

.button-wrapper:hover .button-content {
  transform: translate(4px, 3px);
}

.button-wrapper:active .button-content {
  transform: translate(4px, 6px);
}
